---
// Imports
import Layout from "../../layouts/Layout.astro";
import BuyOrCart from "../../components/Shop/BuyOrCart.svelte"

// Dynamic Page
export const prerender = false;

const imgs = [
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png",
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png",
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png",
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png",
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png",
].slice(0, 4); // MAX 4 IMAGES
const current_img =
    "https://i.ibb.co/jw8W3T2/hmlv-mug-006-removebg-preview.png";
---

<Layout title="Gyro Mug Title">
    <div class="px-4 md:px-7 w-full h-fit flex flex-col lg:flex-row">
        <!-- Pics -->
        <section
            class="mb-2 h-fit basis-1/3 flex-col gap-8 mt-16 md:flex md:flex-col sm:gap-4 sm:h-full sm:mt-24 sm:mx-2 md:gap-8 md:mx-4 lg:flex-col lg:mx-0 lg:mt-36"
        >
            <picture
                class="relative flex items-center"
            >
                <img
                    src={current_img}
                    alt="Display Image"
                    class="block no-select sm:rounded-xl xl:w-[70%] xl:rounded-xl m-auto pointer-events-none transition duration-300 lg:pointer-events-auto cursor-pointer md:hover:shadow-2xl"
                    id="hero"
                    draggable="false"
                    oncontextmenu="return false"
                />
            </picture>
            {
                imgs.length > 1 && (
                    <div class="no-scrollbar mx-auto flex flex-row max-w-[70%] overflow-x-scroll gap-4 h-full md:gap-5">
                        {imgs.map((img: string, ii: number) => (
                            <div
                                id={ii.toString()}
                                class="cursor-pointer h-fit rounded-xl w-auto ring-active"
                            >
                                <img
                                    src={img}
                                    draggable="false"
                                    oncontextmenu="return false"
                                    alt={`Image No#${ii}`}
                                    class="rounded-xl border-2 border-gray-200/20 hover:brightness-125 transition active"
                                />
                            </div>
                        ))}
                    </div>
                )
            }
        </section>

        <!-- Info -->
        <section
            class="w-full basis-2/3 p-6 lg:mt-36 lg:pr-20 lg:py-10 2xl:pr-40 2xl:mt-40"
        >
            <h4 class="font-extbold mb-2 uppercase text-xs tracking-widest">
                Category
            </h4>
            <h1 class="mb-4 break-words font-extrabold text-3xl lg:text-4xl">
                Cofee Mug
            </h1>
            <p class="opacity-95 break-words mb-6 text-base sm:text-lg">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi
                quidem nisi ab iste, quas voluptas iusto pariatur, corrupti
                necessitatibus a cum minus odit. Excepturi magnam dolor ipsum
                vel in iure?
            </p>

            <div
                class="flex items-center justify-between mb-6 sm:flex-col sm:items-start"
            >
                <div class="flex items-center gap-4">
                    <h3 class="font-extrabold text-4xl inline-block">
                        $125.00
                    </h3>
                    <span
                        class="border-2 border-gray-100 rounded-full inline-block h-fit font-bold text-gray-100 p-1 text-lg leading-none text-center select-none items-center animate-[pulse_0.9s_ease-in-out_infinite] md:rotate-[-15deg]"
                        >50%</span
                    >
                </div>
                <p
                    class="text-center w-fit line-through decoration-white font-semibold text-xl text-white/90 md:m-3 decoration-3 my-auto"
                >
                    $250.00
                </p>
            </div>

            <BuyOrCart client:load id={"todo"} />
        </section>
    </div>
</Layout>
