---
// Imports
import Layout from "../../layouts/Layout.astro";
import OrdersList from "../../components/User/OrdersList.svelte";
---

<Layout title="Your Recent Orders">
    <section id="products" class="mt-8 px-4 md:px-10">
        <h2
            class="font-extrabold text-4xl md:text-6xl ml-2 pl-1.5 text-center tracking-wide pb-2"
        >
            Recent
            <span
                class="text-transparent bg-clip-text bg-gradient-to-tl from-slate-300 via-gray-400 to-zinc-400"
            >
                Orders
            </span>
        </h2>
        <div class="mx-auto my-3 md:mt-6">
            <!-- cart details here  -->
            <OrdersList client:load />
        </div>
    </section>
</Layout>
